<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="#">Node JS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" href="/mhs">Mahasiswa</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <h2>Product List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
        <table class="table table-striped" id="mytable">
            <thead>
                <tr>
                    <th>ID Mhs</th>
                    <th>Nama Mhs</th>
                    <th>Jenis Kelamin</th>
                    <th>Agama</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    let no = 1;
                </script>
                {{#each results}}
                <tr>
                    <td class="demo">
                        <script>
                            document.write(no++);
                        </script>
                    </td>
                    <td>{{nama_mhs}}</td>
                    <td>{{jenis_kelamin}}</td>
                    <td>{{agama}}</td>
                    <td>{{email}}</td>
                    <td>{{alamat}}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ id_mhs }}"
                            data-nama_mhs="{{ nama_mhs }}" data-jk="{{ jenis_kelamin }}" data-agama="{{ agama }}"
                            data-email="{{ email }}" data-alamat="{{ alamat }}">Edit</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
                            data-id="{{ id_mhs }}">Delete</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal Add Produk-->
    <form action="/mhs" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Mahasiswa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nama_mhs" class="form-control" placeholder="Nama Mhs" required>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="jk">
                                <option>Pilih Jenis Kelamin</option>
                                <option>laki-laki</option>
                                <option>perempuan</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="agama">
                                <option>Pilih Agama</option>
                                <option>Islam</option>
                                <option>Nasrani</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea name="alamat" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Update Produk-->
    <form action="/mhs/edit" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="nama_mhs" class="form-control nama_mhs" placeholder="Nama Mhs"
                                required>
                        </div>

                        <div class="form-group">
                            <select class="form-control jk" name="jk">

                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" name="email" class="form-control email" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <select class="form-control agama" name="agama">

                            </select>
                        </div>

                        <div class="form-group">
                            <textarea name="alamat" class="form-control alamat"></textarea>
                        </div>

                        <input type="hidden" name="id" class="id_mhs">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Delete Produk-->
    <form id="add-row-form" action="/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Anda yakin mau menghapus data ini?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id_mhs" class="form-control id_mhs" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            //tampilkan data ke modal untuk edit
            $('#mytable').on('click', '.edit', function () {
                var id_mhs = $(this).data('id');
                var nama_mhs = $(this).data('nama_mhs');
                var jenis_kelamin = $(this).data('jk');
                var agama = $(this).data('agama');
                var email = $(this).data('email');
                var alamat = $(this).data('alamat');

                $('#EditModal').modal('show');

                $('.agama').html('<option selected="selected" >' + agama + '</option>' +
                    '<option >Islam</option>' +
                    '<option >Nasrani</option>');

                $('.jk').html('<option selected="selected" >' + jenis_kelamin + '</option>' +
                    '<option >laki-laki</option>' +
                    '<option >perempuan</option>');

                $('.nama_mhs').val(nama_mhs);
                $('.email').val(email);
                $('.alamat').val(alamat);
                $('.id_mhs').val(id_mhs);
            });
            //tampilkan modal hapus record
            $('#mytable').on('click', '.delete', function () {
                var id_mhs = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.id_mhs').val(id_mhs);
            });

        });
    </script>
</body>

</html>